<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMudTerm.Colors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GMudTerm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GMudTerm.Colors>
            <setting name="black" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="red" serializeAs="String">
                <value>8388608</value>
            </setting>
            <setting name="green" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="yellow" serializeAs="String">
                <value>8421376</value>
            </setting>
            <setting name="blue" serializeAs="String">
                <value>128</value>
            </setting>
        </GMudTerm.Colors>
        <GMudTerm.Properties.Settings>
            <setting name="black" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="white" serializeAs="String">
                <value>13027014</value>
            </setting>
        </GMudTerm.Properties.Settings>
    </userSettings>
</configuration>